html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  font-family: 'Roboto Slab', serif;
  background-image: url("background.jpg");
  background-size: 200px;
  background-attachment: fixed;
  background-repeat: space;
}

