html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  font-family: 'Roboto Slab', serif;
  background-image: url("background.jpg");
  background-size: 200px;
  background-attachment: fixed;
  background-repeat: space;
}
.form {
  max-width: 700px;
  padding: 250px 50px;
  margin: 0 auto;
  overflow: auto;
}
.form__fieldset {
  border: 1px solid #cccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 6px -6px 10px -1px rgba(0, 0, 0, 0.75);
  background-color: #fbfdfc;
  font-size: 23px;
  opacity: 0.7;
}
.form__legend {
  border: 1px solid #cccc;
  border-radius: 8px;
  background-color: #22f3b1;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
