.select {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 50px;
}
.setCurrency {
    border: 1px solid #cccc;
    width: 100%;
    max-width: 250px;
    border-radius: 6px;
    background-color: #d1f6ea;
    padding: 8px;
    box-shadow: 6px -6px 10px -1px rgba(0, 0, 0, 0.75);
}
.setCurrency:required {
    border-color: hsl(0, 0%, 40%);
    background-color: hsl#d1f6ea;
}
.enterAmount {
    border: 1px solid #cccc;
    width: 100%;
    max-width: 250px;
    border-radius: 6px;
    background-color: #d1f6ea;
    padding: 8px;
    box-shadow: 6px -6px 10px -1px rgba(0, 0, 0, 0.75);
}

.enterAmount:required {
    border-color: hsl(0, 0%, 40%);
    background-color: hsl#d1f6ea;
}
