.footer {
    width: 100%;
    max-width: 100%;
    border: none;
    color: rgb(246, 246, 246);
    background-color: #a8abaa;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    font-weight: 700;
  }